:root {
    --color-primary: #6096B4;
    --color-secondary: #ffcb03;
    --color-tertiary: #ff585f;
    --color-primary-darker: #6096B4;
    --color-secondary-darker: #ffbb00;
    --color-tertiary-darker: #fd424b;
    --color-primary-opacity: #9ad5f4;
    --color-secondary-opacity: #ffcd0331;
    --color-tertiary-opacity: #ff58602d;
    --gradient-primary: linear-gradient(to top left, #6096B4, #1c4257);
    --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 80%;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #f3f3f3;
}

/* GENERAL ELEMENTS */
.section {
  padding: 15rem 3rem;
  border-top: 1px solid #ddd;

  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.section__title {
  max-width: 80rem;
  margin: 0 auto 8rem auto;
}

.section__description {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.section__header {
  font-size: 4rem;
  line-height: 1.3;
  font-weight: 500;
}

.btn {
  display: inline-block;
  background-color: var(--color-primary);
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 1.25rem 4.5rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background-color: var(--color-primary-darker);
}

.btn--text {
  display: inline-block;
  background: none;
  font-size: 1.7rem;
  font-family: inherit;
  font-weight: 500;
  color: var(--color-primary);
  border: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
  transition: all 0.3s;
  text-decoration: none;
}

p {
  color: #666;
}

/* This is BAD for accessibility! Don't do in the real world! */
button:focus {
  outline: none;
}

img {
  transition: filter 0.5s;
}

.lazy-img {
  filter: blur(20px);
}

/* NAVIGATION */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  width: 100%;
  padding: 1rem 6rem;
  z-index: 100;
}

/* nav and stickly class at the same time */
.nav.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
}

.nav__logo {
  height: 6rem;
  transition: all 0.3s;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__item {
  margin-left: 4rem;
}

.nav__link:link,
.nav__link:visited {
  font-size: 1.7rem;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}

.nav__link--btn:link,
.nav__link--btn:visited {
  padding: 0.8rem 2.5rem;
  border-radius: 3rem;
  background-color: var(--color-primary);
  color: #222;
}

.nav__link--btn:hover,
.nav__link--btn:active {
  color: inherit;
  background-color: var(--color-primary-darker);
  color: #333;
}

/* HEADER */
.header {
  padding: 0 3rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title {
  flex: 1;

  max-width: 115rem;
  display: grid;
  grid-template-columns: 3fr 2fr;
  row-gap: 3rem;
  align-content: center;
  justify-content: center;

  align-items: start;
  justify-items: start;
}

h1 {
  font-size: 5.5rem;
  line-height: 1.35;
}

h4 {
  font-size: 2.4rem;
  font-weight: 500;
}

.header__img {
  width: 100%;
  grid-column: 2 / 3;
  grid-row: 1 / span 4;
  transform: translateY(-6rem);
}

.highlight {
  position: relative;
  margin-left: 1rem;
}

.highlight::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: var(--gradient-primary);
}

/* FEATURES */
.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin: 0 12rem;
}

.features__img {
  width: 100%;
}

.features__feature {
  align-self: center;
  justify-self: center;
  width: 70%;
  font-size: 1.5rem;
}

.features__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-opacity);
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.features__icon svg {
  height: 2.5rem;
  width: 2.5rem;
  fill: var(--color-primary);
}

.features__header {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* SLIDER */
.slider {
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;
  border-radius: 50px;

  /* IN THE END */
  overflow: hidden;
}

.slide {
  position: relative;
  top: 0;
  width: 100%;
  height: 50rem;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(178, 178, 178, 0.1);

  /* THIS creates the animation! */
  transition: transform 1s;
}

.slide > img {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;

  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;

  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  /* background-color: #fff; */
  background-color: #888;
  opacity: 1;
}

/* TESTIMONIALS */
.testimonial {
  width: 65%;
  position: relative;
}

.testimonial::before {
  content: '\201C';
  position: absolute;
  top: -4rem;
  left: 0rem;
  line-height: 1;
  font-size: 20rem;
  font-family: inherit;
  color: var(--color-primary);
  z-index: -1;
}

.testimonial__header {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.testimonial__text {
  font-size: 1.7rem;
  margin-bottom: 3.5rem;
  color: #666;
}

.testimonial__author {
  margin-left: 3rem;
  font-style: normal;

  display: grid;
  grid-template-columns: 6.5rem 1fr;
  column-gap: 2rem;
}

.testimonial__photo {
  grid-row: 1 / span 2;
  width: 6.5rem;
  border-radius: 50%;
}

.testimonial__name {
  font-size: 1.7rem;
  font-weight: 500;
  align-self: end;
  margin: 0;
}

.testimonial__location {
  font-size: 1.5rem;
}
  
.section__title--testimonials {
  margin-bottom: 4rem;
}

/* SIGNUP */
.section--sign-up {
  background-color: #37383d;
  border-top: none;
  border-bottom: 1px solid #444;
  text-align: center;
  padding: 10rem 3rem;
}

.section--sign-up .section__header {
  color: #fff;
  text-align: center;
}

.section--sign-up .section__title {
  margin-bottom: 6rem;
}

.section--sign-up .btn {
  font-size: 1.9rem;
  padding: 2rem 5rem;
}

/* FOOTER */
.footer {
  padding: 10rem 3rem;
  background-color: #37383d;
}

.footer__nav {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.footer__item {
  margin-right: 4rem;
}

.footer__link {
  font-size: 1.6rem;
  color: #eee;
  text-decoration: none;
}

.footer__logo {
  height: 5rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 5rem;
  background-color: white;
  border-radius: 5px;
}

.footer__copyright {
  font-size: 1.4rem;
  color: #aaa;
  text-align: center;
}

.footer__copyright .footer__link {
  font-size: 1.4rem;
}
  
/* MODAL WINDOW */
.ReactModalPortal > div{
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity .2s ease-in-out;
    z-index: 999;
}

.modal-fondo {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: radial-gradient(100% 100% at 100% 0, #ffffff 0, #e3e2e2 100%);
    border-radius: 5px;
    color: rgb(51, 51, 51);
    display: inline;
    max-height: 520px;
    max-width: 600px;
    outline: none;
    padding: 10px;
}

.modal-title {
  background: radial-gradient(100% 100% at 100% 0, #5adaff 0, #6096B4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
}

.modal__header {
  font-size: 3.25rem;
  margin: 6rem 4rem;
  line-height: 1.5;
}

.modal__form {
  margin: 0 3rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2.5rem;
}

.modal__form label {
  font-size: 1.7rem;
  font-weight: 500;
}

.modal__form input {
  font-size: 1.7rem;
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

.modal__form button {
  grid-column: 1 / span 2;
  justify-self: center;
  margin-top: 1rem;
}

.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 3rem;
  cursor: pointer;
  border: none;
  background: none;
}

/* CSS */
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #6096B4 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #6096B4 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #6096B4 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #6096B4 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #6096B4 0 3px 7px inset;
  transform: translateY(2px);
}  

/* COOKIE MESSAGE */
.cookie-message {
display: flex;
align-items: center;
justify-content: space-evenly;
width: 100%;
background-color: white;
color: #bbb;
font-size: 1.5rem;
font-weight: 400;
}

/* FABS */

.fab {
  border-radius: 100%;
  bottom: 25px;
  font-size: 20px;
  padding: 15px;
  position: fixed;
  right: 25px;
}

/* display none to toggle */
.toggle {
  display: none;
}

/* Page menu and profile */

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1rem;
}

.profile span {
  font-size:16px;
  padding-top: 0.5rem;
}

/* Main Layout */

.taskLayout {
  margin: '300px';
  background-color: 'blue';
}

/* Task View */

.task-view {
  max-width: 1000px;
  margin: auto;
}

.task_sort__options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addTask {
  display: flex;
  align-items: center;
  border: none;
  background-color: white;
}

.addTask:hover {
  color: #6096B4;
}

.task-form {
  display: flex;
  flex-direction: column;
  border: 1px solid #6096B4;
  border-radius: 20px;
  padding: 1rem;
}

.task-title {
  font-weight: 600;
  font-size: 16px;
  outline: none;
  border: none;
  margin: 0.2rem 0;
}

.task-description {
  outline: none;
  border: none;
  margin: 0.2rem 0;
}

.task-form__date-priority {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.task-form__datetime {
  outline: none;
  padding: 0.3rem;
  border-radius: 10px;
  border: 1px solid #6096B4;
}

.task-form__dropdown {
  outline: none;
  margin-left: 1rem;
  padding: 0.3rem;
  border-radius: 10px;
  border: 1px solid #6096B4;
}

.task-form__btn {
  margin-right: 1rem;
  outline: none;
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid #6096B4;
  background-color: #74b2d3;
  
  color: white;
  font-weight: 600;
  cursor: pointer;
}

/* Tasks rendered in UI */
.task {
  margin: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid black;
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.task label {
  margin-left: 0.3rem;
}

.task__description {
  margin-left: 0.3rem;
  font-size: 13px;
  color: gray;
}

.task__date {
  max-width: 22vh;
  display: flex;
  align-items: center;
  font-size: 13px;
}

.task__priority {
  margin-left: 0.5rem;
  border: 0.5px solid gray;
  border-radius: 5px;
  padding: 0.2rem;
  font-size: 15px;
}

.high_priority__color {
  background-color: rgb(244, 154, 154);
}

.medium_priority__color {
  background-color: rgb(241, 177, 122);
}

.low_priority__color {
  background-color: #7fc2e6;
}

/* Task completed table*/

.table_tasks__completed {
  width: 100%; /* Make the table full width */
  border-collapse: collapse;
}

.task_completed {
  border-left: 5px solid green;
  border-bottom: 1px solid rgb(191, 191, 191);
}

.table_tasks__completed th {
  text-align: center; 
  padding: 1.5em;
  background-color: #d9eefa;
  border: none;
}

.table_tasks__completed td {
  text-align: center;
  padding: .5em;
}

.table_tasks__completed td:nth-child(1) {
  text-align: left;
}

.table_tasks__completed th:nth-child(1) {
  text-align: left;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 35%; /* Set width of the first header and column */
}

.table_tasks__completed th:nth-child(2) {
  width: 20%; /* Set width of the second header and column */
}

.table_tasks__completed th:nth-child(3) {
  width: 25%; /* Set width of the third header and column */
}

.table_tasks__completed th:nth-child(4) {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 20%; /* Set width of the third header and column */
}

.first_column_task__completed {
  height: 55px;
  display: flex;
  align-items: center;
  gap: 1em;
}

.retake_task__button {
  border: none;
  color: #135376;
  outline: none;
  background: none;
  cursor: pointer;
  font-size: 15px;
}